@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Poppins', sans-serif, Arial;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* background: linear-gradient(to right bottom, #18259e 0.0%, #18259e 2.5%, #8a2be2 2.5%, #8a2be2 5.0%, #18259e 5.0%, #18259e 7.5%, #8a2be2 7.5%, #8a2be2 10.0%, #18259e 10.0%, #18259e 12.5%, #8a2be2 12.5%, #8a2be2 15.0%, #18259e 15.0%, #18259e 17.5%, #8a2be2 17.5%, #8a2be2 20.0%, #18259e 20.0%, #18259e 22.5%, #8a2be2 22.5%, #8a2be2 25.0%, #18259e 25.0%, #18259e 27.5%, #8a2be2 27.5%, #8a2be2 30.0%, #18259e 30.0%, #18259e 32.5%, #8a2be2 32.5%, #8a2be2 35.0%, #18259e 35.0%, #18259e 37.5%, #8a2be2 37.5%, #8a2be2 40.0%, #18259e 40.0%, #18259e 42.5%, #8a2be2 42.5%, #8a2be2 45.0%, #18259e 45.0%, #18259e 47.5%, #8a2be2 47.5%, #8a2be2 50.0%, #18259e 50.0%, #18259e 52.5%, #8a2be2 52.5%, #8a2be2 55.0%, #18259e 55.0%, #18259e 57.5%, #8a2be2 57.5%, #8a2be2 60.0%, #18259e 60.0%, #18259e 62.5%, #8a2be2 62.5%, #8a2be2 65.0%, #18259e 65.0%, #18259e 67.5%, #8a2be2 67.5%, #8a2be2 70.0%, #18259e 70.0%, #18259e 72.5%, #8a2be2 72.5%, #8a2be2 75.0%, #18259e 75.0%, #18259e 77.5%, #8a2be2 77.5%, #8a2be2 80.0%, #18259e 80.0%, #18259e 82.5%, #8a2be2 82.5%, #8a2be2 85.0%, #18259e 85.0%, #18259e 87.5%, #8a2be2 87.5%, #8a2be2 90.0%, #18259e 90.0%, #18259e 92.5%, #8a2be2 92.5%, #8a2be2 95.0%, #18259e 95.0%, #18259e 97.5%, #8a2be2 97.5%, #8a2be2 100.0%); */
}

/* .bg {
    width: 110.6%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to right, #18259e 0.0%, #18259e 2.5%, #8a2be2 2.5%, #8a2be2 5.0%, #18259e 5.0%, #18259e 7.5%, #8a2be2 7.5%, #8a2be2 10.0%, #18259e 10.0%, #18259e 12.5%, #8a2be2 12.5%, #8a2be2 15.0%, #18259e 15.0%, #18259e 17.5%, #8a2be2 17.5%, #8a2be2 20.0%, #18259e 20.0%, #18259e 22.5%, #8a2be2 22.5%, #8a2be2 25.0%, #18259e 25.0%, #18259e 27.5%, #8a2be2 27.5%, #8a2be2 30.0%, #18259e 30.0%, #18259e 32.5%, #8a2be2 32.5%, #8a2be2 35.0%, #18259e 35.0%, #18259e 37.5%, #8a2be2 37.5%, #8a2be2 40.0%, #18259e 40.0%, #18259e 42.5%, #8a2be2 42.5%, #8a2be2 45.0%, #18259e 45.0%, #18259e 47.5%, #8a2be2 47.5%, #8a2be2 50.0%, #18259e 50.0%, #18259e 52.5%, #8a2be2 52.5%, #8a2be2 55.0%, #18259e 55.0%, #18259e 57.5%, #8a2be2 57.5%, #8a2be2 60.0%, #18259e 60.0%, #18259e 62.5%, #8a2be2 62.5%, #8a2be2 65.0%, #18259e 65.0%, #18259e 67.5%, #8a2be2 67.5%, #8a2be2 70.0%, #18259e 70.0%, #18259e 72.5%, #8a2be2 72.5%, #8a2be2 75.0%, #18259e 75.0%, #18259e 77.5%, #8a2be2 77.5%, #8a2be2 80.0%, #18259e 80.0%, #18259e 82.5%, #8a2be2 82.5%, #8a2be2 85.0%, #18259e 85.0%, #18259e 87.5%, #8a2be2 87.5%, #8a2be2 90.0%, #18259e 90.0%, #18259e 92.5%, #8a2be2 92.5%, #8a2be2 95.0%, #18259e 95.0%, #18259e 97.5%, #8a2be2 97.5%, #8a2be2 100.0%);
    animation: anim 2s linear infinite;
} */

/* @keyframes anim {
    from {
        left: 0;
    }

    to {
        left: -10.6%;
    }
} */

body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.glitch {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    text-shadow: red -4px 0, cyan 4px 0;
    letter-spacing: 3px;
}

::selection {
    background: red;
    color: #fff;
}