@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fade-in-transition: 1s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::before, ::after {
    box-sizing: border-box;
}

::selection {
    background: aquamarine;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    padding: 0 30px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    background: #fff;
}

.btn {
    display: none;
}

header ul {
    display: flex;
    list-style: none;
    /* background: beige; */
    align-items: center;
    gap: 10px;
}

header ul li a {
    font-size: 16px;
    padding: 10px 20px;
}

.start {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: calc(100vh - 60px);
}

@media screen and (max-height: 600px) {
    .start {
        height: 540px;
    }
}

.start h1 {
    font-size: 3em;
    text-align: center;
}

.start p {
    color: gray;
}

.obs {
    opacity: 0;
}

.start img {
    width: 300px;
}

img.anim {
    position: relative;
    animation: 1s fade-in-img;
    opacity: 1;
}

@keyframes fade-in-img {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.anim:not(img) {
    position: relative;
    animation: var(--fade-in-transition) fade-in;
    opacity: 1;
}

.anim:not(img):before {
    animation: var(--fade-in-transition) fade-in-before;
    content: '';
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    background-color: aquamarine;
}

@keyframes fade-in {
    0% {
        color: transparent;
    }

    50% {
        color: transparent;
    }

    51% {
        color: currentColor;
    }
}

@keyframes fade-in-before {
    0% {
        opacity: 1;
        left: 0;
        width: 0;
        right: 100%;
    }

    45% {
        left: 0;
        width: 100%;
        right: 0;
    }

    55% {
        left: 0;
        width: 100%;
        right: 0;
    }

    100% {
        left: 100%;
        width: 0;
        right: 0;
        opacity: 1;
    }
}

.timeline {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
    margin-top: 200px;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 10px;
    height: calc(100% - 120px);
    background: #7fffd49f;
    left: 50%;
    transform: translateX(-50%);
}

.timeline::after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    font-size: 50px;
    font-family: 'JetBrains Mono', monospace, 'Poppins', sans-serif;
    font-weight: 500;
}

.timeline .content:nth-of-type(odd) {
    left: 25%;
}

.timeline .content:nth-of-type(even) {
    left: 75%;
}

.timeline .content:first-of-type {
    margin-top: 30px;
}

.timeline .content:last-of-type {
    margin-bottom: 30px;
}

.timeline .content {
    width: 30%;
    position: relative;
    transform: translateX(-50%);
    background: #7fffd421;
    padding: 1rem 2rem;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -100px;
    background: white;
    box-shadow: 0 5px 16px lightgray;
}

.timeline .content p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.timeline .content :is(h1, a) {width: min-content;}

.timeline .content a {
    background: #7fffd450;
    padding: 5px 10px;
    border-radius: 6px;
    transition: .3s;
}

.timeline .content a:hover {
    background: rgba(127, 255, 212, 0.692);
}

.timeline .content::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    background: #fff;
    border: 6px solid #7fffd49f;
    border-radius: 50%;
    top: 20%;
    z-index: 2;
}

.timeline .content:nth-of-type(odd):before {
    left: calc(100% * (1 + (1/3)));
    transform: translate(-50%, -50%);
}

.timeline .content:nth-of-type(even):before {
    right: calc(100% * (1 + (1/3)));
    transform: translate(50%, -50%);
}

.timeline .content::after {
    content: '';
    position: absolute;
    top: 20%;
    height: 10px;
    width: calc(100% * (1/3));
    transform: translateY(-50%);
    box-sizing: border-box;
    border-top: 10px dashed #7fffd421;
}

.timeline .content:nth-of-type(odd):after {
    left: 100%;
}

.timeline .content:nth-of-type(even):after {
    right: 100%;
}

.timeline > .line::before {
    content: '';
    position: absolute;
    width: calc(50% + 5px);
    height: 60px;
    top: 0;
    left: 0;
    border-top: 10px solid #7fffd49f;
    border-right: 10px solid #7fffd49f;
    border-top-right-radius: 20px;
}

.timeline > .line::after {
    content: '';
    position: absolute;
    width: calc(50% + 5px);
    height: 60px;
    bottom: 0;
    right: 0;
    border-bottom: 10px solid #7fffd49f;
    border-left: 10px solid #7fffd49f;
    border-bottom-left-radius: 20px;
}

.timeline .content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline .content div p {
    color: gray;
    user-select: none;
}

footer {
    height: 150px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p {
    font-family: 'JetBrains Mono', monospace, 'Poppins', sans-serif;
}

@media screen and (max-width: 900px) {
    .timeline::before, .timeline > .line {
        display: none;
    }

    .timeline > .content {
        width: 80%;
        left: 50% !important;
        margin-top: 0;
    }

    .timeline > .content > .line {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .timeline > .content > .line::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% + 70px);
        width: calc(100% + 35px);
        box-sizing: border-box;
        border: 10px solid #acfce4;
    }

    .timeline > .content:nth-of-type(odd) > .line::before {
        left: 0;
        border-left: none;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
    }

    .timeline > .content:nth-of-type(even) > .line::before {
        right: 0;
        border-right: none;
        border-top-left-radius: 34px;
        border-bottom-left-radius: 34px;
    }

    .timeline > .content:first-of-type > .line::after {
        content: '';
        position: absolute;
        right: calc(100% - 1px);
        top: -35px;
        width: calc(100% * (1/8) + 1px);
        height: 10px;
        background-color: #acfce4;
    }

    .timeline > :nth-last-child(2) > .line::after {
        content: '';
        position: absolute;
        left: calc(100% - 1px);
        bottom: -35px;
        width: calc(100% * (1/8) + 1px);
        height: 10px;
        background-color: #acfce4;
    }

    .timeline > .content::after {
        width: 35px !important;
        border-color: #7fffd441;
    }

    .timeline .content:nth-of-type(odd):before {
        left: calc(100% + 30px);
        transform: translate(-50%, -50%);
    }
    
    .timeline .content:nth-of-type(even):before {
        right: calc(100% + 30px);
        transform: translate(50%, -50%);
    }
}

@media screen and (max-width: 500px) {
    .timeline > .content {
        width: 70%;
    }

    .timeline > .content:first-of-type > .line::after {
        content: '';
        position: absolute;
        right: calc(100% - 1px);
        top: -35px;
        width: calc(100% * (1/5) + 1px);
        height: 10px;
        background-color: #acfce4;
    }

    .timeline > :nth-last-child(2) > .line::after {
        content: '';
        position: absolute;
        left: calc(100% - 1px);
        bottom: -35px;
        width: calc(100% * (1/5) + 1px);
        height: 10px;
        background-color: #acfce4;
    }

    .timeline .content div {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
}

@media screen and (max-width: 850px) {
    header {
        padding: 0 10px;
    }
    
    header ul {
        position: absolute;
    }

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: relative;
        width: 50px;
        height: 50px;
        border: none;
        background: transparent;
        cursor: pointer;
        transition: .3s;
    }

    .btn span {
        position: relative;
        width: 100%;
        height: 8px;
        background: #000;
        transition: .3s;
        left: 0;
    }

    header ul.active + .btn > span:nth-of-type(1) {
        transform: rotate(45deg) translateY(13px) translateX(12px);
    }

    header ul.active + .btn > span:nth-of-type(2) {
        opacity: 0;
    }

    header ul.active + .btn > span:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
    }

    header ul {
        z-index: 10000;
        display: flex;
        flex-direction: column;
        top: 60px;
        left: -100%;
        width: 100%;
        gap: 0;
        background: rgba(127, 255, 212, 0.247);
        backdrop-filter: blur(6px);
        transition: .3s;
    }

    header ul.active {
        left: 0;
    }

    header ul li {
        height: 40px;
        width: 100%;
        position: relative;
    }

    header ul li a {
        position: absolute;
        height: 100%;
        padding: 0;
        width: 100%;
        display: grid;
        place-items: center;
        color: #000;
    }
}

@media screen and (max-width: 335px) {
    .start h1 {
        font-size: 2em;
    }

    .start img {
        width: 90%;
    }
}
